<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="css/{{style}}">
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a href="#" rel="stylesheet" class="navbar-brand"><i class="fa fa-home fa-fw" aria-hidden="true"></i> Home</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 mt-4">
                <div class="card shadow">
                    <h4 class="card-header">
                        Categories
                    </h4>
                    <div class="list-group list-group-flush">
                        <ul class="menu">
                            <li class="menu-item">

                                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-mobile fa-lg"
                                        aria-hidden="true"></i> Điện thoại di động</a>
                                <ul class="submenu">
                                    <li><a href="#" rel="stylesheet">Samsung</a></li>
                                    <li><a href="#" rel="stylesheet">Nokia</a></li>
                                    <li><a href="#" rel="stylesheet">Xiaomi</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">

                                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-laptop fa-lg"
                                        aria-hidden="true"></i> Máy tính xách tay</a>
                                <ul class="submenu">
                                    <li><a href="#" rel="stylesheet">Dell</a></li>
                                    <li><a href="#" rel="stylesheet">Asua</a></li>
                                    <li><a href="#" rel="stylesheet">Apple</a></li>
                                    <li><a href="#" rel="stylesheet">Lenove</a></li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="col-sm-9 mt-4">
                {{{body}}}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>