<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="css/{{style}}">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#home"><i class="fa fa-fw fa-home"></i> Home</a>
        <a href="#news"><i class="fa fa-fw fa-newspaper-o"></i> News</a>
        <a href="#contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        <a href="#"><i class="fa fa-fw fa-user"></i> Login</a>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 mt-4">
                <div class="card shadow">
                    <h4 class="card-header">
                        Categories
                    </h4>
                    <div class="list-group list-group-flush">
                        <ul class="menu">
                            <li class="menu-item">

                                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-mobile fa-lg"
                                        aria-hidden="true"></i> Điện thoại di động</a>
                                <ul class="submenu">
                                    <li><a href="#" rel="stylesheet">Samsung</a></li>
                                    <li><a href="#" rel="stylesheet">Nokia</a></li>
                                    <li><a href="#" rel="stylesheet">Xiaomi</a></li>
                                </ul>
                            </li>
                            <li class="menu-item">

                                <a href="#" class="list-group-item list-group-item-action"><i class="fa fa-laptop fa-lg"
                                        aria-hidden="true"></i> Máy tính xách tay</a>
                                <ul class="submenu">
                                    <li><a href="#" rel="stylesheet">Dell</a></li>
                                    <li><a href="#" rel="stylesheet">Asua</a></li>
                                    <li><a href="#" rel="stylesheet">Apple</a></li>
                                    <li><a href="#" rel="stylesheet">Lenove</a></li>
                                </ul>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
            <div class="col-sm-9 mt-4">
                {{{body}}}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>