<!DOCTYPE html>
<html lang="en">

<head>
    <title>500 Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
     addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); 
     function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!-- font files -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet" />
    <!-- /font files -->
    <!-- css files -->
    <link href="/css/error/css/style.css" rel="stylesheet" />
    <!-- /css files -->
    <!-- js files -->
    <!-- /js files -->
</head>

<body>
    <div class="container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <h1 class="header-w3ls">Error Page</h1>
                <canvas id="demo-canvas"></canvas>
                <h2 class="main-title">500</h2>
                <p class="w3-agileits2">++++++++ View error log in cosole ++++++++</p>
            </div>
        </div>
    </div>
    <!-- js files -->
    <script src="/javascript/error/js/demo-2.js"></script>
    <script src="/javascript/error/js/rAF.js"></script>
    <!-- /js files -->
</body>

</html>