


<h2>Sản phẩm Dell</h2>
<div class="card-deck mt-5">
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap02.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap03.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap04.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap05.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
</div>

<div class="card-deck mt-5">
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap06.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap07.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap05.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap09.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
</div>

<div class="card-deck mt-5">
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card border-0 zoom">
        <img src="Images/Dell/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
</div>
</div>