


<h2>Sản phẩm Dell</h2>
<div class="card-group mt-5">
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">dell vostro 3560</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <a name="" id="" class="btn btn-primary" href="#" rel="stylesheet" role="button">Xem thêm --></a>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap02.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap03.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap04.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap05.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
</div>

<div class="card-group mt-5">
    <div class="card">
        <img src="Images/lap06.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap07.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap05.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap09.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
</div>

<div class="card-group mt-5">
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
    <div class="card">
        <img src="Images/lap01.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-danger mr-5 w-100">I am a Button</button>
        </div>
    </div>
</div>
</div>