<h2 class="mytitlelogin"> Chào mừng bạn đến với Micromart!  Mời đăng nhập</h2>
<!--Login Form-->
<div id="idLoginView">
    <div class="modalContentLogin">
        <form action="" method="POST">
            <div class="fixform">
                <div class="containerLogin">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
                
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>              
                </div>
                
                <div class="containerLogin" id="fixloginbtn" >
                    <button class="buttonLogin" id="submitlogin" type="button">Login</button>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <div>
                        <span class="psw">Forgot <a href="#">password?</a></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
            // User send username and password
        $("#submitlogin").click(function () {
            window.open("/admin/home");
        });
    });
</script>