{{#section 'css'}}
<style>
    body {
        background: linear-gradient(-135deg, #c850c0, #4158d0);
    }
</style>
{{/section}}
{{#section 'js'}}
<script>
    $(document).ready(function () {
        $("#header").remove();// ẩn header đi
        $("#Menu-Slider").css("position", "relative");
        $("#footer").remove();//ẩn footer
    });
    function validate() {
        return true;
    }
</script>
{{/section}}

{{!-- form login --}}
<div class="container w-50 px-md-5 py-1 shadow-lg my-5 bg-white">
    <form onsubmit="return validate();" method="POST" novalidate id="frmRegister" name="frmRegister">
        <div class="text-center mt-5">
            <h1 class="h1 font-weight-bold">Sign Up</h1>
        </div>

        <div class="mb-4">
            <h1 class="h3 mb-3 font-weight-light">Thông tin bắt buộc</h1>
        </div>
        <div class="form-label-group">
            <label for="inputUsername">User Name</label>
            <input type="text" id="txtUsername"  name="f_Username" class="form-control" placeholder="haimtp" autofocus="true">
        </div>
        <div class="form-label-group">
            <label for="inputPassword">Password</label>
            <input type="text" id="txtPassword" name="rawPassword" class="form-control">
        </div>
        <hr>
        <div class="mb-4">
            <h1 class="h3 my-3 font-weight-light">Thông tin chung</h1>
        </div>
        <div class="form-label-group">
            <label for="inputName">Name</label>
            <input type="text" id="txtName" name="f_Name" class="form-control" placeholder="Quang Hai" autofocus="true">
        </div>

        <div class="form-label-group">
            <label for="inputEmail">Email address</label>
            <input type="text" id="txtEmail" name="f_Email" class="form-control" placeholder="QH@micro.com">
        </div>
        <div class="form-label-group">
            <label for="DOB">Date of brith</label>
            <input type="text" id="txtDOB" name="dob" class="form-control">
        </div>
        <button class="btn btn-lg btn-info mb-5" type="submit">Sign Up</button>
    </form>
</div>