<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-7">
        <h2>My Orders</h2>
        <h3 class="mt-5">Previous Orders</h3>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Payment due by</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Tracking Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">

    </div>
</div>
<div class="row">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-7">
        <h3 class="mt-5">Invoices</h3>
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Invoice ID</th>
                    <th scope="col">Invoice Date</th>
                    <th scope="col">Invoice Amount</th>
                    <th scope="col">Order Reference</th>
                    <th scope="col">View Invoice</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">

    </div>
</div>