
/* Use for list menu */

 .submenu 
 {
    display: none;
 }

.menu .menu-item {
    list-style-type: none;
    margin-left: -30px;
}

.menu .menu-item:hover .submenu {
    display: block;
    position: relative;
}

.submenu li
{
    list-style-type: none;
    margin: 0;
}

.submenu li a 
{
    text-decoration: none;
}
