<div class="card shadow mb-4">
  <h4 class="card-header">
    New Category
  </h4>
  <div class="card-body">
    <form method="POST">
      <div class="form-group">
        <label for="txtItemName">Category</label>
        <input type="text" class="form-control" id="txtItemName" name="ItemName" placeholder="Enter category name"
          autofocus>
      </div>
      <div class="form-group">
        {{!-- <label for="txtListID">List (1: dien thoai ; 2: may tinh)</label>
        <input type="text" class="form-control" id="txtListID" name="List" placeholder="Enter list id"> --}}
        <label>List</label>
        <select class="custom-select" name="List" id="txtListID">
          <option value="1" selected>Mobile</option>
          <option value="2">Laptop</option>
        </select>
      </div>
      <a class="btn btn-outline-primary" href="/admin/categories" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        List
      </a>
      <button type="submit" class="btn btn-outline-success">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>